return {
    world = "world.sqlite3",

    fog = {
        enabled = true,
        near    = 1.0,
        far     = 5.0,
        color   = {1.0, 1.0, 1.0, 1.0}
    },

    camera = {
        chunkRenderDistance = 5,
        fov                 = 80,
        near                = 1e-2,
        far                 = 150,
        model               = 3,
    },

    window = {
        width  = 1024,
        height = 768,
        msaa   = 4
    },

    gui = {
        aimSize = 15,
    },
}
